<%= form_with(model: statistic, local: true) do |form| %>
  <% if statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statistic.errors.count, "error") %> prohibited this statistic from being saved:</h2>

      <ul>
        <% statistic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% positions = [["Point Guard", "Point Guard"], ["Shooting Guard", "Shooting Guard"], ["Small Forward", "Small Forward"], ["Power Forward", "Power Forward"], ["Center", "Center"]] %>
    <%= form.label :position %>
    <%= form.select :position, options_for_select(positions), {}, {:class => "form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :height, "Height (CM)" %>
    <%= form.number_field :height, min: 100, max: 250, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :weight, "Weight (KG)" %>
    <%= form.number_field :weight, min: 40, max: 250, class: "form-control" %>
  </div>
  
  <br><br><hr>

  <div class="field form-group">
    <%= form.label :points %>
    <%= form.number_field :points, class: "form-control", step: 0.1 %>
  </div>

  <div class="field">
    <%= form.label :rebounds %>
    <%= form.number_field :rebounds, class: "form-control", step: 0.1 %>
  </div>

  <div class="field form-group">
    <%= form.label :assists %>
    <%= form.number_field :assists, class: "form-control", step: 0.1 %>
  </div>

  <div class="field form-group">
    <%= form.label :steals %>
    <%= form.number_field :steals, class: "form-control", step: 0.1 %>
  </div>

  <div class="field form-group">
    <%= form.label :blocks %>
    <%= form.number_field :blocks, class: "form-control", step: 0.1 %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
