<%= form_with(model: trait, local: true) do |form| %>
  <% if trait.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trait.errors.count, "error") %> prohibited your changes from being saved:</h2>

      <ul>
        <% trait.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :height, "Height (CM)" %>
    <%= form.number_field :height, max: 250, min: 0, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :weight, "Weight (KG)" %>
    <%= form.number_field :weight, max: 300, min: 0, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :position %>
    <%= form.select :position, options_for_select(["Point Guard", "Shooting Guard", "Small Forward", "Power Forward", "Center"]), {}, {:class => "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>