<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, "School Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :division, "School Division" %>
    <%= form.number_field :division, class: "form-control" %>
  </div>

    <%= form.fields_for :address do |f| %>

      <div class="field form-group">
        <%= f.label :street %>
        <%= f.text_field :street, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </div>

      <div class="field form-group">  
        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :postcode %>
        <%= f.number_field :postcode, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :country %>
        <%= f.text_field :country, class: "form-control" %>
      </div>

    <% end %>

  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
