<!DOCTYPE html>
<html>
  <head>
    <title>Athlead</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f34d1d1032.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="search-bar">
        <%# <% if current_user.scout? %>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        <%# <% end  %>
      </div>

      <div class="nav-logo">
        <a class="navbar-brand" href="<%= root_url %>">
          <%= image_tag 'Athlead-White', class: "navbar-logo"%>
        </a>
      </div>
      <div class="account-menu">
        <div class="nav-item dropdown">
          <% if user_signed_in? %>
            <%= image_tag current_user.avatar, class: "nav-avatar" %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to '<i class="fas fa-star"></i> Premium'.html_safe, upgrade_path, class: "dropdown-item"%>
              <% if current_user.scout? %>
                <%= link_to '<i class="fas fa-users"></i> Athletes'.html_safe, root_url, class: "dropdown-item" %>
              <% elsif current_user.athlete? %>
                <%= link_to '<i class="fas fa-user"></i> Profile'.html_safe, root_url, class: "dropdown-item" %>
              <% end %>
              <%= link_to '<i class="fas fa-envelope"></i> Messages'.html_safe, conversations_path, class: "dropdown-item" %>
              <%= link_to '<i class="fas fa-graduation-cap"></i> Offers'.html_safe, offers_path, class: "dropdown-item" %>
              <%= link_to '<i class="fas fa-sign-out-alt"></i> Sign Out'.html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
              <%= link_to 'Sign In', new_user_session_path, class: "dropdown-item" %>
              <%= link_to 'Sign Up', new_user_registration_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <section class="body">
      <%= yield %>
    </section>
  </body>
</html>
